:root
{
    --base-color: #202020;
    --primary-color: #FFFFFF;
    --accent-color: #6000FF;
}



*
{
    color: var(--primary-color);
    background-color: var(--base-color);
}



.cute-card
{
    border: 4px;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--accent-color);

    box-shadow: 0px 0px 15px 0px var(--accent-color);

    margin: 10px;
    padding: 20px;
}

.cute-subcard
{
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--accent-color);

    box-shadow: 0px 0px 5px 0px var(--accent-color);

    margin: 4px;
    padding: 4px;
}

.title
{
    text-align: center;
}

.ui-icon-button
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.ui-icon-img
{
    width: 20px;
    height: 20px;
}

.hidden-item
{
    display: none;
}

.vertical-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page-sizer
{
    width: 800px;
}

.content-sizer
{
    width: 700px;
}



@media (max-width: 850px)
{
    .page-sizer
    {
        width: 380px;
    }

    .content-sizer
    {
        width: 280px;
    }
}
