<div class="vertical-container">
    @if (ViewBag.Message != null)
    {
        <div class="cute-card page-sizer horizontal-container">
            <div class="">@ViewBag.Message</div>
            <button class="ui-icon-button" onclick="this.parentElement.remove()">
                <img class="ui-icon-img" src="/res/x.ico" />
            </button>
        </div>
    }
    <form class="cute-card page-sizer vertical-container" action="/Categories/" method="post">
        <div class="vertical-container">
            <label class="">Password</label>
            <input class="cute-subcard content-sizer" type="password" name="Password" />
        </div>
        <button class="cute-subcard content-sizer" type="submit">Get categories!</button>
    </form>
</div>
